 label
        {
            display: inline-block;
            font-weight: bold;
            max-width: 100%;
        }
        input, button, select, textarea
        {
            font-family: inherit;
            box-sizing: border-box;
        }
        .main
        {
            box-sizing: border-box;
            width: 100%;
            border: none;
            background: #f1f1f1;
            margin: 0 auto;
            padding: 70px 0 60px;
            height: 600px;
        }
        .yyitem
        {
            background-color: #fff;
            border: 1px solid #eee;
            border-radius: 6px;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
            margin-bottom: 20px;
            padding: 20px;
            width: 585px;
            margin: 0 auto;
            box-sizing: border-box;
            
        }
        .ititle
        {
            overflow: hidden;
            margin-bottom: 20px;
            text-align: center
        }
        .ititle h2
        {
            font-weight: bold;
            font-size: 26px;
            color: #16AD66;
			margin:0; padding:0;
        }
        .ititle p
        {
            
            font-weight: normal;
            color: #f39a06;
			margin:0; padding:0;
        }
        .clear
        {
            clear: both;
        }
        .errbox
        {
            border-radius: 2px;
            margin-bottom: 17px;
            padding: 10px;
            background-color:#D9EDF7;
            border-color: #16AD66;
            color: #16AD66;
            border: 1px solid #e6e6e6;
        }
        .errbox i, .privacy i
        {
            width: 16px;
            height: 16px;
            color: #fff;
            background: #16AD66;
            display: inline-block;
            border-radius: 8px;
            text-align: center;
			font-style:normal;
            font-weight: bold;
            margin-right: 3px;
        }
        .ibox label
        {
            min-height: 1px;
            padding: 12px 10px 0 10px;
            position: relative;
            margin-bottom: 0;
            text-align: right;
            width: 16.7%;
            float: left;
            box-sizing: border-box;
        }
        .ibox
        {
            margin-left: -10px;
            margin-right: -10px;
            margin-bottom: 15px;
            position: relative;
            width: 100%;
            display: table;
            box-sizing: border-box;
        }
        .box
        {
            float: left;
            width: 80%;
            padding-right: 160px;
            min-height: 1px;
            padding-left: 10px;
            position: relative;
            box-sizing: border-box;
        }
        .box-1
        {
            float: left;
            width: 80%;
            padding-right: 10px;
            min-height: 1px;
            padding-left: 10px;
            position: relative;
            box-sizing: border-box;
        }
        .box-2
        {
            float: left;
            width: 66.7%;
            padding-right: 10px;
            min-height: 1px;
            padding-left: 10px;
            position: relative;
            margin-left: 16.7%;
            box-sizing: border-box;
        }
        .box .input
        {
            width: 100%;
        }
        .ibox input
        {
            border-radius: 0;
            font-size: 15px;
            height: 42px;
            line-height: 1.33;
            padding: 10px 16px;
        }
        
        .ibox select, .ibox .form-btn,.ibox .Msg 
        {
            position: absolute;
            right: 10px;
            top: 0;
            width: 140px;
            padding: 10px 16px;
        }
        .ibox .form-btn
        {
            background-color: #fff;
            border-color: #ccc;
            color: #333;
            font-size: 15px;
            border-radius: 3px;
            -moz-user-select: none;
            background-image: none;
            cursor: pointer;
            display: inline-block;
            font-weight: normal;
            margin-bottom: 0;
            text-align: center;
            vertical-align: middle;
            white-space: nowrap;
            border: 1px solid #ccc;
            position: absolute;
            width: 140px;
            top: 0px;
        }
        .box-2 .form-btnsub
        {
            width: 100%;
            display: block;
            border: 1px solid #fff;
            background: #F39A06;
            border-radius: 3px;
            color: #fff;
            cursor: pointer;
        }
        .ibox .form-btn:hover
        {
            background-color: #e6e6e6;
        }
        .form-control
        {
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
            color: #777;
            display: block;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
            width: 100%;
        }
        .form-control:focus
        {
            border-color: #ff7943;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(75, 172, 255, 0.6);
            outline: 0 none;
        }
		
	.form-control1
        {
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
            color: #777;
			height:75px;
            display: block;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
            width: 100%;
        }
        .form-control1:focus
        {
            border-color: #ff7943;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(75, 172, 255, 0.6);
            outline: 0 none;
        }	
		
        .privacy
        {
            margin: 10px 0;
        }
        .footer{ margin-top: 0;}
        .Msg{ border: 1px solid #cccccc;border-radius: 3px;background: #fff;color: #666;cursor: pointer;}
        .Msg:hover{background: #ccc}
		
		
.gjpic
{
    width: 100px;
    height: 100px;
    border: 2px solid #16AD66;
    border-radius: 100px;
    margin:0 auto;
	text-align:center;
}
.gjpic img
{
    border-radius: 100px;
    height: 100px;
}