@charset "utf-8";

 
.mr_frbox { padding:27px 0 0 60px;width:860px;height:140px; position:relative;  }

.mr_frBtnL { position:absolute;display:block;width:20px;height:33px;top:65px;left:16px;background:url(gzhzForemanShow_btn_bg.gif) 0 0 no-repeat; cursor:pointer;}

.mr_frBtnR {position:absolute;display:block;width:20px;height:33px;top:65px;right:-46px;background:url(gzhzForemanShow_btn_bg.gif) -20px 0 no-repeat; cursor:pointer;}


.mr_frUl {  position:relative;}
.mr_frUl ul li {  width:150px;float:left;}

.mr_frUl ul li .pinpic{ display:block;width:110px;height:110px;border-radius:110px;overflow:hidden;}
.mr_frUl ul li .pinpic img { display:block;width:110px;height:110px;}

.mr_frUl ul li .zname{width:110px;height:32px;line-height:32px;text-align:center;}
